
body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
background:#020617;
padding:20px;
text-align:center;
}

.cards{
display:flex;
justify-content:space-around;
margin:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;
}

table{
width:90%;
margin:20px auto;
border-collapse:collapse;
background:#1e293b;
}

th,td{
padding:10px;
border-bottom:1px solid #334155;
text-align:center;
}
